# Root dependencies
node_modules/
/client/node_modules/
/server/node_modules/

# Production builds
/client/build/
/server/dist/

# Logs and Cache
*.log
.eslintcache
client/node_modules/.cache/

# Security (Supabase keys)
.env
.env.local
